
.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Navbar heading */
.navbar-heading {
    font-size: 20px;
    font-weight: bold;
}

.navbar-heading-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.navbar-heading-link:hover {
    color: #ddd;
}


.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #555;
}


.navbar-logout .logout-link {
    font-weight: bold;
    background-color: #f44336;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-logout .logout-link:hover {
    background-color: #d32f2f;
}


@media screen and (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-list {
        flex-direction: column;
        gap: 10px;
    }
}
